

body {
    width: 100%;
}

#timeline {
    width: 80%;
}

.item {
    width: 40%;
    margin: 20px 10px 10px 10px;
    float: left;
    background-color:#ffffff;
    border:solid 1px #B4BBCD;
    min-height:50px;
    text-align:justify;
    word-wrap:break-word;
}